site_name: Yafin
site_url: https://lukinkratas.github.io/yafin
repo_url: https://github.com/lukinkratas/yafin
repo_name: lukinkratas/yafin

theme:
  name: "material"
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.top
    - navigation.sections
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight
  language: en
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
      primary: deep purple
      accent: deep orange

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      primary: deep purple
      accent: deep orange

nav:
  - Home: index.md
  - Reference:
    - reference/index.md
    - reference/symbol.md
    - AsyncSymbol: reference/async_symbol.md
    - reference/symbols.md
    - AsyncSymbols: reference/async_symbols.md
    - reference/client.md
    - AsyncClient: reference/async_client.md
    - reference/utils.md
    - reference/const.md
    - reference/exceptions.md
  - Examples:
    - examples/index.md
    - examples/symbol.md
    - AsyncSymbol: examples/async_symbol.md
    - examples/symbols.md
    - AsyncSymbols: examples/async_symbols.md
    - examples/client.md
    - AsyncClient: examples/async_client.md
    - examples/utils.md
    - examples/const.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            docstring_style: google

markdown_extensions:
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
