name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+a[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+b[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: make build

      - name: Test built package
        run: make test-build

      - name: Set env
        run: echo "UV_PUBLISH_TOKEN={{ secrets.UV_PUBLISH_TOKEN }}" >> $GITHUB_ENV

      - name: Publish
        run: make publish

      # - name: Create GitHub Release
      #   env:
      #     GH_TOKEN: ${{ github.token }}
      #   run: |
      #     gh release create ${{ github.ref_name }} dist/* --title ${{ github.ref_name }} --generate-notes
